-- ==========================================================
-- SCRIPT SQL: ESTRUTURA E CARGA DE PARCEIROS SOLARA
-- ==========================================================
-- Execute este script no SQL Editor do painel do seu Supabase.
CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- Tabela de regi├Áes (lookup) para facilitar extens├Áes futuras
CREATE TABLE IF NOT EXISTS public.partner_regions (
    code VARCHAR(20) PRIMARY KEY
);
INSERT INTO public.partner_regions (code) VALUES ('nacional'), ('vale');

-- 1. Tabela de Cadastro dos Parceiros
CREATE TABLE IF NOT EXISTS public.solara_partners (
    id VARCHAR(50) PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    specialty TEXT NOT NULL,
    site VARCHAR(255) NOT NULL,
    region VARCHAR(20) NOT NULL REFERENCES public.partner_regions(code),
    location VARCHAR(100) NOT NULL,
    category_id VARCHAR(50) NOT NULL,
    created_at TIMESTAMPTZ DEFAULT now() NOT NULL
);

-- ├ìndices para melhorar buscas
CREATE INDEX idx_partners_region ON public.solara_partners (region);
CREATE INDEX idx_partners_category ON public.solara_partners (category_id);

-- 2. Tabela de Cliques de Parceiros (Monetiza├º├úo)
CREATE TABLE IF NOT EXISTS public.solara_partners_clicks (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    partner_id VARCHAR(50) NOT NULL,
    partner_name VARCHAR(100) NOT NULL,
    category_title VARCHAR(100) NOT NULL,
    click_type VARCHAR(20) NOT NULL CHECK (click_type IN ('website', 'whatsapp')),
    clinic_id UUID,
    created_at TIMESTAMPTZ DEFAULT now() NOT NULL,
    CONSTRAINT fk_click_partner FOREIGN KEY (partner_id) REFERENCES public.solara_partners(id)
);

-- ├ìndices para clicks
CREATE INDEX idx_clicks_partner ON public.solara_partners_clicks (partner_id);
CREATE INDEX idx_clicks_clinic ON public.solara_partners_clicks (clinic_id);

-- Habilitar RLS em ambas
ALTER TABLE public.solara_partners ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.solara_partners_clicks ENABLE ROW LEVEL SECURITY;

-- Pol├¡ticas para solara_partners (Leitura livre para carregar a p├ígina)
DROP POLICY IF EXISTS "Permitir leitura p├║blica de parceiros" ON public.solara_partners;
CREATE POLICY "Permitir leitura p├║blica de parceiros"
    ON public.solara_partners FOR SELECT USING (true);

-- Pol├¡ticas para solara_partners_clicks
DROP POLICY IF EXISTS "Permitir inser├º├Áes p├║blicas de cliques" ON public.solara_partners_clicks;
CREATE POLICY "Permitir inser├º├Áes p├║blicas de cliques"
    ON public.solara_partners_clicks FOR INSERT WITH CHECK (true);

DROP POLICY IF EXISTS "Permitir leitura geral de cliques" ON public.solara_partners_clicks;
CREATE POLICY "Permitir leitura geral de cliques"
    ON public.solara_partners_clicks FOR SELECT USING (true);

-- Carga inicial de todos os 94 parceiros comerciais homologados
